/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
0.5px
0.75px

--- 02 COLORS

- Primary: #e67e22
- Tints:
#fdf2e9
#fae5d3
#eb984e

- Shades: 
#cf711f
#45260a

- Accents:
- Greys

#888
#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
#333

--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;

    /* may not work in some versions of edge and safari */
    scroll-behavior: smooth; 
}

body{
    font-family: "Rubik", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #555;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

strong{
    font-weight: 700;
}


/*******************************/
/* GENERAL COMPONENTS */
/*******************************/

.heading-primary,
.heading-secondary,
.heading-tertiary{
    font-weight: 700;
    color:#333;
    letter-spacing: -0.5px;
    animation: fadein 0.5s;
}

.heading-primary{
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 1.05;
    color: #333;
    letter-spacing: -0.5px;
    margin-bottom: 3.2rem;
}

.heading-secondary{
    font-size: 3.6rem;
    line-height: 1.2;
    margin-bottom: 6.4rem;
}

.heading-tertiary{
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 3.2rem;
    letter-spacing: -0.075rem;
}

.subheading{
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    color:#cf711f;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    letter-spacing: 0.75px;
}

.light-font-color{
    color: white;
}

.primary-color{
    color:#cf711f;
}

.align-center{
    text-align: center;
}
.btn, .btn:link, .btn:visited{
    display: inline-block;
    font-size: 2rem;
    font-weight: 600;
    padding: 1.6rem 3.2rem;
    border-radius: 9px;
    text-decoration: none;

    border: none;
    cursor: pointer;
    font-family: inherit;

    /* transitions to all hover state*/
    transition: all 0.3s;
}

.btn--full:link, .btn--full:visited{
    background-color: #e67e22;
    color: white;
}

.btn--full:hover, .btn--full:active{
    background-color: #cf711f;
    color: white;
}

.btn--outline:link, .btn--outline:visited{
    background-color: white;
    color: #555;
}

.btn--outline:hover, .btn--outline:active{
    background-color: #fdf2e9;
    color: #555;
    box-shadow: 0 0 0 3px white inset;
}

.btn--form{
    background-color: #45260a;
    color: #fdf2e9;
    align-self: end;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    padding: 1.2rem;
}

.btn--form:hover{
    background-color: #FFF;
    color: #555;
}

.btn--form:active{
    transform: scale(0.95);
    box-shadow: 3px 6px 6px rgba(0,0,0,0.3);
}

.margin-left-md{
    margin-right: 4.8rem !important;
}

.margin-right-sm{
    margin-right: 1.6rem !important;
}

.margin-bottom-md{
    margin-bottom: 4.8rem !important;
}

.margin-bottom-sm{
    margin-bottom: 3.2rem !important;
}


.header-container {
    width: 100%;
    padding: 12.5%;
}

.header-container-content {
    width: 50%;
}

.container{
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 3.2rem;
}

.link:link,
.link:visited{
    display: inline-block;
    text-decoration: none;
    color: #e67e22;
    border-bottom: 1px solid currentColor;
    padding-bottom: 0.2rem;
    transition: all 0.1s;
}

.link:hover,
.link:active{
    display: inline-block;
    text-decoration: none;
    color: #cf711f;
    border-bottom: 1px solid transparent;
    padding-bottom: 0.2rem;
}

.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.list-item{
    display: flex;
    font-size: 1.8rem;
    align-items: center;
    line-height: 1.2;
    gap: 1.6rem;
}

.list-icon{
    width: 3rem;
    height: 3rem;
    color: #e67e22;
}

*:focus{
    outline: none;

    box-shadow: 0 0 0 0.8rem #e67d2290;

}

.not-included{
    text-decoration: line-through;
    color: #ccc;
}

.grid{
    display: grid;
    row-gap: 9.6rem;
    column-gap: 6.4rem;
}

.grid:not(:last-child){
    margin-bottom: 9.6rem;
}

.grid--2cols{
    grid-template-columns: repeat(2, 1fr);
}

.grid--3cols{
    grid-template-columns: repeat(3, 1fr);
}

.grid--4cols{
    grid-template-columns: repeat(4, 1fr);
}

.grid--6cols{
    grid-template-columns: repeat(6, 30rem);
    justify-content: center;
    align-items: center;
}


.grid-small-gap{
    column-gap: 3.2rem;
    row-gap: 4.8rem;
}

.position-absolute{
    position: absolute;
    width: 100%;
    z-index: 999;
}
